// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
   background-color: #337AB7;
   color: white;
   font-weight: bold;
   padding: 10px;
   border-radius: 0 8px 8px 0;
   border: 0;
   margin: 0;
}

.question {
    padding: 8px 0;
    margin: 10px 0;
}